python-dotenv
PyPDF2
python-dotenv
# transformers
# torch 
bcrypt
pytest
httpx
#tf-keras # in case fastapi requires tensorflow
groq  # in case sanity requires groq
evidently # in case we need to do model monitoring
azure-ai-ml azure-identity  # for monitoring

