python-dotenv
PyPDF2
python-dotenv
bcrypt
pytest
httpx
groq  # in case sanity requires groq
evidently # in case we need to do model monitoring
# azure-ai-ml azure-identity  # for monitoring
sqlalchemy
python-jose
passlib

