name: test

on:
  push:
    branches:
        - main
  pull_request:
    branches:
        - main

jobs:
    test:
        runs-on: ubuntu-latest
        env:
          GROQ_API_KEY: ${{ secrets.GROQ_API_KEY }}

        steps:
        - uses: actions/checkout@v2

        - name: Set up Python
          uses: actions/setup-python@v2
          with:
            python-version: '3.11'

        - name: Install dependencies
          run: |
            cd  ./backend
            python -m pip install --upgrade pip
            pip install 'fastapi[standard]'
            pip install -r  ./backend/requirements.txt

        - name: Run tests
          run: |
            pytest